body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(167, 25, 25);
    padding: 20px;
    font-size: 42px;
    color: rgb(167, 25, 25);
    text-align: center;

}